<h1 style='text-align:center;'>My Notes</h1>
<br />
<table class='table table-hover table-bordered table-stripped'>
  <thead class='thead-dark'>
    <tr>
      <th style='text-align:center;'>Title</th>
      <th style='text-align:center;'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td style='text-align:center;'><%= note.title %></td>
        <td style='display:flex; justify-content:space-evenly;'>
          <%= link_to 'Show', note, class:'btn btn-link'  %>
          <%= link_to 'Edit', edit_note_path(note), class:'btn btn-link'  %>
          <%= button_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path, class:'btn btn-primary' %>
