<br />

<div class="card">
  <h2 style='text-align: center;' class='card-header'>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder: 'Email'  %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <% f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'form-control', placeholder: 'New password'  %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field form-group">
        <% f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control', placeholder: 'Confirm password'  %>
      </div>

      <div class="field form-group">
        <% f.label :current_password %> 
        <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control', placeholder: 'Current password'  %>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "Update", class:'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<br />
<br />

<div class="card">
  <div class="card-header">
    <h5 style='text-align: center;'>Delete my account</h5>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p style='text-align: center;'>Are you <strong><em>Unhappy</em></strong> with us?</p>
      <p>You may delete your account at anytime for whatever reason. We are not going to force you to stay.</p>
       <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %>
    </blockquote>
  </div>
</div>

<br />
<%= link_to "Back", :back %>
